* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-card: "Poppins", sans-serif;
  --fc-card: #fff;

  font-size: 62.5%;
}

body {
  font-family: var(--ff-card);

  width: 100vw;
  height: 100vh;

  padding: 1rem 2rem 2rem;

  background: #0c0f16;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

<<<<<<< HEAD
  overflow-y: hidden!important;
  overflow-x: hidden!important;

=======
  overflow-x: hidden!important;
  overflow-y: hidden!important;
>>>>>>> d64b58cd341d6f07dfdfee6601670b9147cb3ade
}

a {
  text-decoration: none;
}

.card {
  max-width: 40rem;
  padding: 3rem 3.0rem ;

/*   background: #13161E;
 */

  background: rgba(19, 22, 30, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;

  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  animation: card-down 700ms ease-in;
}


.card img {
  width: 15rem;
  
  padding: 5px;

  border-radius: 50%;
  border: solid 4px #5DC21E;

  margin-bottom: 1.5rem;


}

.card h1, p {
  color: var(--fc-card);
}

.card h1 {
  font: normal 700 2.5rem var(--ff-card);
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.card p {
  font: normal 400 1.4rem var(--ff-card);
  margin-bottom: 2rem;
}

.card i {
  margin-right: 10px;
}

.fa-brands {
  font-size: 2rem;
}

.content > p {
  margin-top: 1rem;
  text-align: center;

  font: normal 400 1.2rem "Poppins", sans-serif;
  animation: card-down 700ms ease-in;
}

.card button {
  margin-bottom: 12px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;

  background: #5DC21E;
  color: white;
  font: normal 500 1.8rem var(--ff-card);

  width: 90%;

  cursor: pointer;
  transition: transform 0.5s;
}

.card button:hover {
  transform: translateY(-5px);
}

.particle {
  overflow: hidden;
}

.particle span:nth-child(1){
  width: 50px;
  height: 50px;
  opacity: .2;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  right: 25px;

  animation: flash-lights-up 10000ms infinite ease-in-out;
}
.particle span:nth-child(2){
  width: 75px;
  height: 75px;
  opacity: .3;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 250px;

  animation: flash-lights-up 8000ms infinite ease-in-out;
}
.particle span:nth-child(3){
  width: 50px;
  height: 50px;
  opacity: .2;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  right: 500px;

  animation: flash-lights-up 11000ms infinite ease-in;
}
.particle span:nth-child(4){
  width: 50px;
  height: 50px;
  opacity: .2;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  right: 800px;

  animation: flash-lights-up 13000ms infinite ease-in-out;
}
.particle span:nth-child(5){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 400px;

  animation: flash-lights-up 8500ms infinite ease-in-out;
}
.particle span:nth-child(6){
  width: 75px;
  height: 75px;
  opacity: .2;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 650px;

  animation: flash-lights-up 6000ms 800ms infinite ease-in-out;
}
.particle span:nth-child(7){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 740px;

  animation: flash-lights-up 4000ms 400ms infinite ease-in-out;
}
.particle span:nth-child(8){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 200px;

  animation: flash-lights-up 10000ms 200ms infinite ease-in-out;
}
.particle span:nth-child(9){
  width: 50px;
  height: 50px;
  opacity: .2;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 200px;

  animation: flash-lights-up 15000ms 300ms infinite ease-in-out;
}
.particle span:nth-child(10){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  right: 350px;

  animation: flash-lights-up 7000ms 500ms infinite ease-in-out;
}
.particle span:nth-child(11){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  right: 200px;

  animation: flash-lights-up 6000ms 200ms infinite ease-in-out;
}
.particle span:nth-child(12){
  width: 75px;
  height: 75px;
  opacity: .3;
  background: red;
  position: absolute;
  z-index: -1;

  top: 0;
  right: 60%;

  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);


  animation: flash-lights-up 18000ms 100ms infinite ease-in-out;
}
.particle span:nth-child(13){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 55%;

  animation: flash-lights-up 7000ms 100ms infinite ease-in-out;
}
.particle span:nth-child(14){
  width: 75px;
  height: 75px;
  opacity: .1;
  background: rgb(134,244,66);
  background: radial-gradient(circle, rgba(134,244,66,1) 0%, rgba(93,194,30,1) 15%, rgba(19,22,30,0) 55%);

  position: absolute;
  z-index: -1;

  top: 0;
  left: 45%;

  animation: flash-lights-up 13000ms 100ms infinite ease-in-out;
}


/*Responsivity*/


/*Animations*/

@keyframes flash-lights-up {
  0% {
    transform: translateY(-20rem) scale(1);
  }

  100% {
    transform: translateY(100vh) scale(.7);
  }
}

@keyframes card-down {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
